{% load static %}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'sourates/style.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'sourates/assets/logoico.ico' %}" type="image/x-icon">
        <title>Page Not Found</title>
    </head>
    <body>
        <header class='divers'>
            <div class='container1'>
                <nav>
                    <input type="checkbox" id="checknav">
                    <label for="checknav" class="menu-deroulant">
                        <i class='bx bx-menu' id="open"></i>
                        <i class='bx bx-x' id="close"></i>
                    </label>
                    <div class="nav-links-computer">
                        <h2>RELGEN</h2>
                        <ul>
                            <li><a href="{% url 'decouverte' %}">Découvrir</a></li>
                            <li><a href="{% url 'islam' %}">Islam</a></li>
                            <li><a href="{% url 'christianisme' %}">Christianisme</a></li>
                            <li><a href="{% url 'judaisme' %}">Judaïsme </a></li>
                        </ul>
                        <img src="{% static 'sourates/assets/main.webp' %}" alt="Main">
                    </div>
                    <div class="nav-links-mobile">
                        <h2>RELGEN</h2>
                        <ul>
                            <li><a href="{% url 'decouverte' %}">Découvrir</a></li>
                            <li><a href="{% url 'islam' %}">Islam</a></li>
                            <li><a href="{% url 'christianisme' %}">Christianisme</a></li>
                            <li><a href="{% url 'judaisme' %}">Judaïsme </a></li>
                        </ul>
                    </div>
                </nav>
                <h1>ERREUR 404 </h1>
                <a href="{% url 'accueil' %}"><img src="{% static 'sourates/assets/logo.png' %}" alt="Logo"></a>
            </div>
        </header>
        <main>
            <div class='conditions'>
                <h3>404 - Page non trouvée</h3>
                <p>Désolé, la page que vous recherchez semble introuvable.</p>
                <p>Si le problème persiste n'hésitez pas à nous contacter en utilisant le formulaire de la page "Contact" sinon envoyer un mail à l'adresse mail : sacha.work38@gmail.com</p>
            </div>
        </main>
        <footer class='divers'>
            <img src="{% static 'sourates/assets/logo.png' %}" alt="Logo">
            <div class='footer-container'>
                <p>RELGEN 2024 ©</p>
                <div class='footer-links'>
                    <a href="{% url 'conditions' %}">Conditions générales</a>
                    <a href="{% url 'mentions' %}">Mentions légales</a>
                    <a href="{% url 'donnees' %}">Données personnelles</a>
                    <a href="{% url 'contact' %}">Aide/FAQ/Contact</a>
                </div>
            </div>
            <img src="{% static 'sourates/assets/logo.png' %}" alt="Logo">
        </footer>
    </body>
    </html>