
<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="image" content="{% static 'sourates/assets/logoico.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sourates/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'sourates/assets/logoico.ico' %}" type="image/x-icon">
</head>
<body>
    
    {% block content %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="{% static 'sourates/script.js' %}"></script>
</body>
</html>