{% extends 'sourates/base.html' %}

{% block content %}
    {% load static %}
    <header class='christ'>
        <div class='container1'>
            <nav>
            
                <input type="checkbox" id="checknav">
                <label for="checknav" class="menu-deroulant">
                    <i class='bx bx-menu' id="open"></i>
                    <i class='bx bx-x' id="close"></i>
                </label>
                <div class="nav-links">
                    <h2>RELGEN</h2>
                    <ul>
                        <li><a href="{% url 'decouverte' %}">Découvrir</a></li>
                        <li><a href="{% url 'islam' %}">Islam</a></li>
                        <li><a href="{% url 'christianisme' %}">Christianisme</a></li>
                        <li><a href="{% url 'judaisme' %}">Judaïsme </a></li>
                    </ul>
                    <img src="{% static 'sourates/assets/main.png' %}" alt="Main">
                </div>
            </nav>
            <h1>CHRISTIANISME</h1>
            <a href="{% url 'accueil' %}"><img src="{% static 'sourates/assets/logo.png' %}" alt="Logo"></a>
        </div>
    </header>
    <main>
        <div class='sourate B'>
            <div class='en-tete'>
                <h3>{{ christ.name }}</h3>
                <p>Chapitre {{ christ.n_chap }} n°{{ christ.n_verset}}</p>
            </div>
            <h2>{{ christ.section }}</h2>
            <p>{{ christ.verset }}</p>
        </div>
        <div class='priere'>
            <div class='info1'>
                <div class='info epiphanie'>
                    <p>L'Épiphanie</p>
                    <p>{{ Epiphanie }} jours</p>
                </div>
                <div class='info chandeleur'>
                    <p>La Chandeleur</p>
                    <p>{{ Chandeleur }} jours</p>
                </div> 
            </div>
            <div class='info1'>
                <div class='info careme'>
                    <p>Le Carême</p>
                    <p>{{ Careme }} jours</p>
                </div>
                <div class='info mercredi'>
                    <p>Le Mercredi des Cendres</p>
                    <p>{{ Mercredi }} jours</p>
                </div>
                <div class='info paques'>
                    <p>Pâques</p>
                    <p>{{ Paques }} jours</p>
                </div>
            </div>
            <div class='info1'>
                <div class='info ascension'>
                    <p>L'Ascension</p>
                    <p>{{ Ascension }} jours</p>
                </div>
                <div class='info pentecote'>
                    <p>La Pentecôte</p>
                    <p>{{ Pentecote }} jours</p>
                </div> 
            </div>
            <div class='info1'>
                <div class='info fete'>
                    <p>La Fête-Dieu</p>
                    <p>{{ Fete }} jours</p>
                </div>
                <div class='info toussaint'>
                    <p>La Toussaint</p>
                    <p>{{ Toussaint }} jours</p>
                </div>
                <div class='info noel'>
                    <p>Noël</p>
                    <p>{{ Noel }} jours</p>
                </div>
            </div>
        </div>
    </main>
    <footer class='christ'>
        <img src="{% static 'sourates/assets/logo.png' %}" alt="Logo">
        <div class='footer-container'>
            <p>RELGEN 2024 ©</p>
            <div class='footer-links'>
                <a href="">Conditions générales</a>
                <a href="">Mentions légales</a>
                <a href="">Données personnelles</a>
                <a href="">Gestion des cookies</a>
                <a href="{% url 'contact' %}">Aide/FAQ/Contact</a>
            </div>
        </div>
        <img src="{% static 'sourates/assets/logo.png' %}" alt="Logo">
    </footer>
        

{% endblock %}