{% extends 'sourates/base.html' %}

{% block content %}
    {% load static %}
    <header class='divers'>
        <div class='container1'>
            <nav>
                <input type="checkbox" id="checknav">
                <label for="checknav" class="menu-deroulant">
                    <i class='bx bx-menu' id="open"></i>
                    <i class='bx bx-x' id="close"></i>
                </label>
                <div class="nav-links">
                    <h2>RELGEN</h2>
                    <ul>
                        <li><a href="{% url 'decouverte' %}">Découvrir</a></li>
                        <li><a href="{% url 'islam' %}">Islam</a></li>
                        <li><a href="{% url 'christianisme' %}">Christianisme</a></li>
                        <li><a href="{% url 'judaisme' %}">Judaïsme </a></li>
                    </ul>
                    <img src="{% static 'sourates/assets/main.png' %}" alt="Main">
                </div>
            </nav>
            <h1>CONDITIONS GÉNÉRALES</h1>
            <a href="{% url 'accueil' %}"><img src="{% static 'sourates/assets/logo.png' %}" alt="Logo"></a>
        </div>
    </header>
    <main>
        <div class='conditions'>
            <h3>Acceptation des Conditions</h3>
            <p>En accédant et en utilisant le site RELGEN, vous acceptez pleinement et sans réserve les présentes Conditions Générales d'Utilisation. 
            Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser le site.</p>
        </div>
        <div class='conditions'>
            <h3>Contenu du Site</h3>
            <p>Le contenu du site RELGEN est destiné à fournir des versets religieux et des informations connexes. Ce contenu est protégé par les droits d'auteur et ne peut être reproduit sans autorisation.</p>
        </div>
        <div class='conditions'>
            <h3>Utilisation Responsable</h3>
            <p>Vous vous engagez à utiliser le site de manière responsable, respectueuse et conforme aux lois applicables. 
            Vous ne devez pas utiliser le site d'une manière qui pourrait causer des dommages, une interruption ou une altération du site.</p>
        </div>
        <div class='conditions'>
            <h3>Responsabilités de l'Utilisateur</h3>
            <p>Vous êtes entièrement responsable de l'utilisation que vous faites du site. RELGEN n'est pas responsable des conséquences résultant de votre utilisation du site.</p>
        </div>
        <div class='conditions'>
            <h3>Protection des Données Personnelles</h3>
            <p>La collecte et l'utilisation de données personnelles sont régies par notre Politique de Confidentialité, accessible sur la page dédiée.</p>
        </div>
        <div class='conditions'>
            <h3>Liens Externes</h3>
            <p>Le site peut contenir des liens vers des sites tiers. 
            RELGEN n'endosse pas le contenu de ces sites et n'est pas responsable des dommages ou préjudices causés par leur utilisation.</p>
        </div>
        <div class='conditions'>
            <h3>Modifications des Conditions Générales</h3>
            <p>RELGEN se réserve le droit de modifier ces Conditions Générales d'Utilisation à tout moment. Les modifications seront effectives dès leur publication sur le site.</p>
        </div>
        <div class='conditions'>
            <h3>Droits de Propriété Intellectuelle</h3>
            <p>Tous les droits de propriété intellectuelle liés au site et à son contenu sont la propriété de Roux Sacha et sont protégés par les lois applicables.</p>
        </div>
        <div class='conditions'>
            <h3>Loi Applicable</h3>
            <p>Les présentes Conditions Générales d'Utilisation sont régies par les lois en vigueur en France. 
            Tout litige relatif à ces conditions sera soumis à la juridiction exclusive des tribunaux de Lyon, France.</p>
        </div>
        <div class='conditions'>
            <h3>En utilisant ce site, vous acceptez et consentez aux présentes Conditions Générales d'Utilisation.</h3>
            <p>Date de Dernière Mise à Jour : 03/02/2024</p>
        </div>
    </main>
    <footer class='divers'>
        <img src="{% static 'sourates/assets/logo.png' %}" alt="Logo">
        <div class='footer-container'>
            <p>RELGEN 2024 ©</p>
            <div class='footer-links'>
                <a href="{% url 'conditions' %}">Conditions générales</a>
                <a href="">Mentions légales</a>
                <a href="">Données personnelles</a>
                <a href="">Gestion des cookies</a>
                <a href="{% url 'contact' %}">Aide/FAQ/Contact</a>
            </div>
        </div>
        <img src="{% static 'sourates/assets/logo.png' %}" alt="Logo">
    </footer>
{% endblock %}