{% extends 'sourates/base.html' %}

{% block content %}
    {% load static %}
    <header class='divers'>
        <div class='container1'>
            <nav>
                <input type="checkbox" id="checknav">
                <label for="checknav" class="menu-deroulant">
                    <i class='bx bx-menu' id="open"></i>
                    <i class='bx bx-x' id="close"></i>
                </label>
                <div class="nav-links">
                    <h2>RELGEN</h2>
                    <ul>
                        <li><a href="{% url 'decouverte' %}">Découvrir</a></li>
                        <li><a href="{% url 'islam' %}">Islam</a></li>
                        <li><a href="{% url 'christianisme' %}">Christianisme</a></li>
                        <li><a href="{% url 'judaisme' %}">Judaïsme </a></li>
                    </ul>
                    <img src="{% static 'sourates/assets/main.png' %}" alt="Main">
                </div>
            </nav>
            <h1>GESTION DES COOKIES</h1>
            <a href="{% url 'accueil' %}"><img src="{% static 'sourates/assets/logo.png' %}" alt="Logo"></a>
        </div>
    </header>
    <main>
        <div class='conditions'>
            <h3>Utilisation des Cookies :</h3>
            <p>Le site RELGEN utilise des cookies pour améliorer l'expérience utilisateur, analyser le trafic du site, personnaliser le contenu et fournir des fonctionnalités de médias sociaux.</p>
        </div>
        <div class='conditions'>
            <h3>Qu'est-ce qu'un Cookie ?</h3>
            <p>Un cookie est un petit fichier texte stocké sur votre ordinateur ou appareil mobile par le navigateur web. Il permet au site de se souvenir de vos actions et préférences (telles que la connexion, la langue, la taille de la police, et d'autres préférences d'affichage) sur une période de temps, vous évitant ainsi de saisir ces informations à chaque visite.</p>
        </div>
        <div class='conditions'>
            <h3>Types de Cookies Utilisés :</h3>
            <p>Cookies Essentiels : Ces cookies sont nécessaires au fonctionnement du site et ne peuvent pas être désactivés dans nos systèmes. Ils sont généralement définis en réponse à vos actions, telles que la définition de vos préférences en matière de confidentialité, la connexion ou le remplissage de formulaires.</p>
            <p>Cookies Analytiques : Ces cookies nous aident à comprendre comment les visiteurs interagissent avec le site en collectant et rapportant des informations de manière anonyme.</p>
            <p>Cookies de Personnalisation : Ces cookies permettent au site de mémoriser vos choix et préférences, offrant ainsi une expérience plus personnalisée.</p>
        </div>
        <div class='conditions'>
            <h3>Gestion des Cookies :</h3>
            <p>En utilisant le site RELGEN, vous consentez à l'utilisation des cookies conformément à cette Politique. 
            Vous pouvez ajuster vos préférences de cookies à tout moment en modifiant les paramètres de votre navigateur. Cependant, veuillez noter que la désactivation de certains types de cookies peut affecter votre expérience sur le site.</p>
        </div>
        <div class='conditions'>
            <h3>Modification de la Politique de Cookies :</h3>
            <p>Nous nous réservons le droit de mettre à jour cette Politique de Cookies pour refléter les changements dans nos pratiques et services. 
            Les modifications seront publiées sur cette page, et la date de dernière mise à jour sera révisée en conséquence.</p>
            <p>Date de Dernière Mise à Jour : 03/02/2024</p>
        </div>
    </main>
    <footer class='divers'>
        <img src="{% static 'sourates/assets/logo.png' %}" alt="Logo">
        <div class='footer-container'>
            <p>RELGEN 2024 ©</p>
            <div class='footer-links'>
                <a href="{% url 'conditions' %}">Conditions générales</a>
                <a href="{% url 'mentions' %}">Mentions légales</a>
                <a href="{% url 'donnees' %}">Données personnelles</a>
                <a href="{% url 'cookies' %}">Gestion des cookies</a>
                <a href="{% url 'contact' %}">Aide/FAQ/Contact</a>
            </div>
        </div>
        <img src="{% static 'sourates/assets/logo.png' %}" alt="Logo">
    </footer>
{% endblock %}