{% extends 'sourates/base.html' %}

{% block content %}
    {% load static %}
    <header class='accueil'>
        <div class='container1'>
            <nav>
            
                <input type="checkbox" id="checknav">
                <label for="checknav" class="menu-deroulant">
                    <i class='bx bx-menu' id="open"></i>
                    <i class='bx bx-x' id="close"></i>
                </label>
                <div class="nav-links-computer">
                    <h2>RELGEN</h2>
                    <ul>
                        <li><a href="{% url 'decouverte' %}">Découvrir</a></li>
                        <li><a href="{% url 'islam' %}">Islam</a></li>
                        <li><a href="{% url 'christianisme' %}">Christianisme</a></li>
                        <li><a href="{% url 'judaisme' %}">Judaïsme </a></li>
                    </ul>
                    <img src="{% static 'sourates/assets/main.webp' %}" alt="Main">
                </div>
                <div class="nav-links-mobile">
                    <h2>RELGEN</h2>
                    <ul>
                        <li><a href="{% url 'decouverte' %}">Découvrir</a></li>
                        <li><a href="{% url 'islam' %}">Islam</a></li>
                        <li><a href="{% url 'christianisme' %}">Christianisme</a></li>
                        <li><a href="{% url 'judaisme' %}">Judaïsme </a></li>
                    </ul>
                </div>
            </nav>
            <h1>WE BELIEVE IN GOD</h1>
            <a href="{% url 'accueil' %}"><img src="{% static 'sourates/assets/logo.png' %}" alt="Logo"></a>
        </div>
        
        <div class='haut'>
            <img src="{% static 'sourates/assets/eglise.png' %}" alt="Eglise">
            <img src="{% static 'sourates/assets/mosquee.png' %}" alt="Mosquée">
            <img src="{% static 'sourates/assets/synagogue.webp' %}" alt="Synagogue">
        </div>
    </header>
    <main>
        <div class='middle'>
            <div class='middle4'>
                <img src="{% static 'sourates/assets/mosquee_abu.webp' %}" alt="Mosquee Abu">
                <div class='superposee'>
                    <img src="{% static 'sourates/assets/cathédrale.webp' %}" alt="Cathédrale">
                    <img src="{% static 'sourates/assets/synagogueimage.webp' %}" alt="Synagogue">
                </div>
            </div>
            <div class='texte'>
                <h4>Découvrez les différentes religions</h4>
                <h4>Découvrez leur fonctionnement et leurs coutumes</h4>
            </div>
        </div>
        <div class='middle2'>
            <div class='texte'>
                <h4>Découvrez votre verset quotidien</h4>
                <h4>Découvrez vos horaires de prières et les dates de fêtes</h4>
            </div>
            <div class='middle4'>
                <div class='superposee2'>
                    <img src="{% static 'sourates/assets/juif.webp' %}" alt="Judaisme">
                    <img src="{% static 'sourates/assets/priere2.webp' %}" alt="Prière">
                </div>
                <img src="{% static 'sourates/assets/noel2.webp' %}" alt="Noel">
            </div>  
        </div>
    </main>
    <footer class='accueil'>
        <img src="{% static 'sourates/assets/logo.png' %}" alt="Logo">
        <div class='footer-container'>
            <p>RELGEN 2024 ©</p>
            <div class='footer-links'>
                <a href="{% url 'conditions' %}">Conditions générales</a>
                <a href="{% url 'mentions' %}">Mentions légales</a>
                <a href="{% url 'donnees' %}">Données personnelles</a>
                <a href="{% url 'contact' %}">Aide/FAQ/Contact</a>
            </div>
        </div>
        <img src="{% static 'sourates/assets/logo.png' %}" alt="Logo">
    </footer>
    
{% endblock %}
