{% extends 'sourates/base.html' %}

{% block content %}
    {% load static %}
    <header class='juda'>
        <div class='container1'>
            <nav>
            
                <input type="checkbox" id="checknav">
                <label for="checknav" class="menu-deroulant">
                    <i class='bx bx-menu' id="open"></i>
                    <i class='bx bx-x' id="close"></i>
                </label>
                <div class="nav-links">
                    <h2>RELGEN</h2>
                    <ul>
                        <li><a href="{% url 'islam' %}">Islam</a></li>
                        <li><a href="{% url 'christiannisme' %}">Christiannisme</a></li>
                        <li><a href="">Judaïsme </a></li>
                        <li><a href="">Contact </a></li>
                    </ul>
                    <img src="{% static 'sourates/assets/main.png' %}" alt="Main">
                </div>
            </nav>
            <h1>JUDAISME</h1>
            <img src="{% static 'sourates/assets/logo.png' %}" alt="Logo">
        </div>
    </header>
    <main>
        <div class='sourate C'>
            <div class='en-tete'>
                <h3>{{ juda.name }}</h3>
                <p>n°{{ juda.n_verset}}</p>
            </div>
            <p>"{{ juda.verset }}"</p>
        </div>
        <div class='priere'>
            <div class='info1'>
                <div class='info chabbat'>
                    <p>Chabbat</p>
                    <p>{{ Epiphanie }} jours</p>
                </div>
            </div>
            <div class='info1'>
                <div class='info saharit'>
                    <p>Shaharit</p>
                    <p>{{ Careme }} jours</p>
                </div>
                <div class='info minha'>
                    <p>Min'ha</p>
                    <p>{{ Mercredi }} jours</p>
                </div>
                <div class='info maariv'>
                    <p>Ma'ariv</p>
                    <p>{{ Paques }} jours</p>
                </div>
            </div>
        </div>
    </main>
    <footer class='juda'>
        <img src="{% static 'sourates/assets/logo.png' %}" alt="Logo">
        <div class='footer-container'>
            <p>RELGEN 2024 ©</p>
            <div class='footer-links'>
                <a href="">Conditions générales</a>
                <a href="">Mentions légales</a>
                <a href="">Données personnelles</a>
                <a href="">Gestion des cookies</a>
                <a href="">Aide/FAQ/Contact</a>
            </div>
        </div>
        <img src="{% static 'sourates/assets/logo.png' %}" alt="Logo">
    </footer>
{% endblock %}