{% extends 'sourates/base.html' %}

{% block content %}
    {% load static %}
    <header class='divers'>
        <div class='container1'>
            <nav>
                <input type="checkbox" id="checknav">
                <label for="checknav" class="menu-deroulant">
                    <i class='bx bx-menu' id="open"></i>
                    <i class='bx bx-x' id="close"></i>
                </label>
                <div class="nav-links-computer">
                    <h2>RELGEN</h2>
                    <ul>
                        <li><a href="{% url 'decouverte' %}">Découvrir</a></li>
                        <li><a href="{% url 'islam' %}">Islam</a></li>
                        <li><a href="{% url 'christianisme' %}">Christianisme</a></li>
                        <li><a href="{% url 'judaisme' %}">Judaïsme </a></li>
                    </ul>
                    <img src="{% static 'sourates/assets/main.webp' %}" alt="Main">
                </div>
                <div class="nav-links-mobile">
                    <h2>RELGEN</h2>
                    <ul>
                        <li><a href="{% url 'decouverte' %}">Découvrir</a></li>
                        <li><a href="{% url 'islam' %}">Islam</a></li>
                        <li><a href="{% url 'christianisme' %}">Christianisme</a></li>
                        <li><a href="{% url 'judaisme' %}">Judaïsme </a></li>
                    </ul>
                </div>
            </nav>
            <h1>MENTIONS LÉGALES</h1>
            <a href="{% url 'accueil' %}"><img src="{% static 'sourates/assets/logo.png' %}" alt="Logo"></a>
        </div>
    </header>
    <main>
        <div class='conditions'>
            <h3>Éditeur du Site:</h3>
            <p>Roux Sacha</p>
            <p>sacha.work38@gmail.com</p>
        </div>
        <div class='conditions'>
            <h3>Directeur de la publication :</h3>
            <p>Roux Sacha</p>
        </div>
        <div class='conditions'>
            <h3>Hébergeur du Site :</h3>
            <p>[Nom de l'Hébergeur]</p>
            <p>[Adresse de l'Hébergeur]</p>
            <p>[Téléphone de l'Hébergeur]</p>
            <p>[Email de l'Hébergeur]</p>
        </div>
    </main>
    <footer class='divers'>
        <img src="{% static 'sourates/assets/logo.png' %}" alt="Logo">
        <div class='footer-container'>
            <p>RELGEN 2024 ©</p>
            <div class='footer-links'>
                <a href="{% url 'conditions' %}">Conditions générales</a>
                <a href="{% url 'mentions' %}">Mentions légales</a>
                <a href="{% url 'donnees' %}">Données personnelles</a>
                <a href="{% url 'contact' %}">Aide/FAQ/Contact</a>
            </div>
        </div>
        <img src="{% static 'sourates/assets/logo.png' %}" alt="Logo">
    </footer>
{% endblock %}