* {
    margin: 0;
}


@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideTopToBottom {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRightToLeft {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideBottomToTop {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

nav input {
    display: none;
}

.nav-links {
    position: fixed;
    width: 15vw;
    margin-top: 15vh;
    margin-left: -20vw;
    color: black;
    transition: 0.7s;
    z-index: 2;
}

.nav-links ul {
    list-style-type: none;
}

.nav-links li {
    padding-bottom: 5vh;
}
.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Istok Web', sans-serif;
    background: linear-gradient(to top, black 0%, black 5%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}

.nav-links a:hover {
    background-size: 100% 100%;
}

.menu-deroulant i {
    position: fixed;
    font-size: 48px;
    color: white;
    padding-top: 4vh;
    padding-left: 2vw;
    z-index: 2;
}

.menu-deroulant:hover{
    cursor: pointer;
}

.menu-deroulant #close {
    position: fixed;
    margin-left: -20vw;
    transition: 0.7s;
    background-color: white;
    color: black;
    width: 13vw;
    height: 100%;
    z-index: 1;
    
}



#checknav:checked~.menu-deroulant #close { 
    margin-left: 0px;
    transition: opacity 0.7s;
    animation: opacity 1.2s ease-in-out;
    
}

#checknav:checked~.menu-deroulant #open {
    display: none;
}

#checknav:checked~.nav-links {
   transition: 0.7s;
   animation: opacity 1.2s ease-in-out;
    margin-left: 0px;
}

header {
    background: url(assets/Ciel.jpg);
    background-size: 100% 100%;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 85%;
}

.container img {
    padding-top: 2vh;
    width: 10vw;
}

.haut {
    display: flex;
    flex-direction: row;
    padding-left: 7%;
}
.haut img {
    width: 15vw;
    height: 15vw;
    padding-top: 17vh;
    padding-left: 10vw;
    gap: 15vw;
    animation: slideTopToBottom 1.5s ease-in-out;
}

h1 {
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 11vh;
    font-size: 100px;
    color: white;
    font-family: 'Istok Web', sans-serif;
    transition: opacity 0.7s;
    animation: slideBottomToTop 1.5s ease-in-out;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Istok Web', sans-serif;
    padding-bottom: 5vh;
}

.middle {
    padding-top: 20vh;
    display: flex;
    flex-direction: row;
}
.middle img {
    width: 40vw;
    height: 80vh;
}
.texte {
    padding-top: 10vh;
}
.texte p {
    width: 40vw;
    padding-left: 8vw;
    font-size: 75px;
    padding-bottom: 10vh;
    font-family: 'Sawarabi Mincho', serif;
    font-style: italic;
}

.middle2 {
    padding-top: 20vh;
    justify-content: end;
    display: flex;
    flex-direction: row;
}

.middle2 img {
    width: 40vw;
    height: 80vh;
}

.middle2 p {
    text-decoration: none;
    padding-right: 15vw;
    font-size: 75px;
    color: black;
    font-family: 'Sawarabi Mincho', serif;
    font-style: italic;
    padding-top: 10vh;
}

.middle2 a {
    text-decoration: none;
    width: 40vw;
    padding-right: 8vw;
    font-size: 75px;
    padding-bottom: 10vh;
    color: black;
    font-family: 'Sawarabi Mincho', serif;
    font-style: italic;
}

.middle2 a:hover {
    text-decoration: underline;
}
footer {
    height: 20vh;
    background: url(assets/Ciel.jpg);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30vw;
    color: white;
    font-size: 25px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 600;
    margin-top: 20vh;
}

footer img {
    width: 10vw;
}
.footer-links a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
}

.footer-links a:hover {
    text-decoration: underline;
}

