* {
    margin: 0;
}


@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideTopToBottom {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRightToLeft {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideBottomToTop {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.accueil {
    background: url(assets/Ciel.jpg);
}

.islam {
    background: url(assets/desert.jpg)center center;
}
nav input {
    display: none;
}

.nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 15vw;
    margin-top: 15vh;
    margin-left: -20vw;
    color: black;
    transition: 0.7s;
    z-index: 2;
}

.nav-links ul {
    list-style-type: none;
}

.nav-links li {
    padding-bottom: 5vh;
}

.nav-links img {
    margin-left: -28vw;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Istok Web', sans-serif;
    background: linear-gradient(to top, black 0%, black 5%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}

.nav-links a:hover {
    background-size: 100% 100%;
}

.menu-deroulant i {
    position: fixed;
    font-size: 48px;
    color: white;
    padding-top: 4vh;
    padding-left: 2vw;
    z-index: 2;
}

.menu-deroulant:hover{
    cursor: pointer;
}

.menu-deroulant #close {
    position: fixed;
    margin-left: -20vw;
    transition: 0.7s;
    background-color: white;
    color: black;
    width: 13vw;
    height: 100%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.318);
    z-index: 1;
    
}

#checknav:checked~.menu-deroulant #close { 
    margin-left: 0px;
    transition: 0.7s;
    animation: opacity 1.2s ease-in-out;
    
}

#checknav:checked~.menu-deroulant #open {
    display: none;
}

#checknav:checked~.nav-links {
   transition: 0.7s;
   animation: opacity 1.2s ease-in-out;
    margin-left: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 85%;
}

.container1 {
    display: flex;
    flex-direction: row;
}

.container1 h1 {
    padding-left: 40vw;
    animation: slideTopToBottom 1.5s ease-in-out;
    padding-bottom: 6vh;
}

.container img {
    padding-top: 2vh;
    width: 10vw;
    height: 20vh;
}

.container1 img {
    padding-top: 2vh;
    width: 10vw;
    height: 20vh;
    padding-left: 30vw;
}

.haut {
    display: flex;
    flex-direction: row;
    padding-left: 7%;
}
.haut img {
    width: 15vw;
    height: 15vw;
    padding-top: 17vh;
    padding-left: 10vw;
    gap: 15vw;
    animation: slideTopToBottom 1.5s ease-in-out;
}

h1 {
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 11vh;
    font-size: 100px;
    color: white;
    font-family: 'Istok Web', sans-serif;
    animation: opacity 0.7s;
    animation: slideBottomToTop 1.5s ease-in-out;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Istok Web', sans-serif;
    padding-bottom: 5vh;
}

h3 {
    font-size: 70px;
}

.middle {
    padding-top: 20vh;
    display: flex;
    flex-direction: row;
}
.middle img {
    width: 40vw;
    height: 80vh;
}
.texte {
    padding-top: 10vh;
}
.texte p {
    width: 40vw;
    padding-left: 8vw;
    font-size: 75px;
    padding-bottom: 10vh;
    font-family: 'Sawarabi Mincho', serif;
    font-style: italic;
}

.middle2 {
    padding-top: 20vh;
    justify-content: end;
    display: flex;
    flex-direction: row;
}

.middle2 img {
    width: 40vw;
    height: 80vh;
}

.middle2 p {
    text-decoration: none;
    padding-right: 15vw;
    font-size: 75px;
    color: black;
    font-family: 'Sawarabi Mincho', serif;
    font-style: italic;
    padding-top: 10vh;
}

.middle2 a {
    text-decoration: none;
    width: 40vw;
    padding-right: 8vw;
    font-size: 75px;
    padding-bottom: 10vh;
    color: black;
    font-family: 'Sawarabi Mincho', serif;
    font-style: italic;
}

.middle2 a:hover {
    text-decoration: underline;
}

.sourate {
    margin-left: 5vw;
    margin-top: 10vh;
    width: 80vw;
    padding: 5vh 5vw;
    border: solid 2px #C78255;
}

.sourate h3 {
    padding-bottom: 5vh;
    font-family: 'Istok Web', sans-serif;
    animation: slideLeftToRight 1.5s ease-in-out;
}
.sourate p {
    font-size: 25px;
    font-family: 'Sawarabi Mincho', serif;
    animation: slideLeftToRight 1.5s ease-in-out;
}

.priere {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}


.fajr{
    width: 51.75vw;
    background-image: url(assets/Fajr.jpg);
}
.dhuhr{
    width: 36.75vw;
    background-image: url(assets/Dhuhr.jpg);
}
.asr{
    width: 29vw;
    background-image: url(assets/Asr.jpg);
}
.maghreb{
    width: 29vw;
    background-image: url(assets/Mahgreb.jpg);
}
.icha{
    width: 29vw;
    background-image: url(assets/Icha.jpg);
}

.info {
    height: 50vh;
    background-size: 100% 100%; 
    text-align: center;
    font-size: 90px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 600;
    color: white;
    padding-top: 20vh;
    text-shadow: 4px 5px 20px black;
}

.info p {
    animation: opacity 1.5s;
}

.info1 {
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    gap: 1.5vw;
}



footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15vw;
    color: white;
    font-family: 'Istok Web', sans-serif;
    font-weight: 600;
    margin-top: 10vh;
    height: 20vh;
}

footer img {
    width: 10vw;
    height: 20vh;
}
.footer-container {
    padding-top: 5vh;
    font-size: 30px;
}
.footer-container p {
    padding-bottom: 2vh;
}
.footer-links  {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-shadow: 4px 5px 20px black;
}

.footer-links a:hover {
    text-decoration: underline;
}

